<div id="main-report" class="container-fluid columns">
  <div dir="rtl">
    <span class="info pile-number border">شماره پایل :</span>
    <span class="info pile-start border">شروع :</span>
    <span class="info pile-end border">پایان :</span>
    <span id="excel2" class="info btn btn-info text-center">اکسل</span>
  </div>
  <table id="table2" class="table table-striped table-bordered text-center table-hover" data-cols-width="25,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6">
    <thead>
      <tr data-height="40" data-a-v="middle" class="d-none">
        <td data-f-sz="16" data-a-h="center" data-a-v="middle" class="report-title" colspan="28">efwef</td>
      </tr>
      <tr>
      <td data-a-h="center">Block/Section</td>
      <td data-a-h="center">S1</td>
      <td data-a-h="center">S2</td>
      <td data-a-h="center">S3</td>
      <td data-a-h="center">S4</td>
      <td data-a-h="center">S5</td>
      <td data-a-h="center">S6</td>
      <td data-a-h="center">S7</td>
      <td data-a-h="center">S8</td>
      <td data-a-h="center">S9</td>
      <td data-a-h="center">S10</td>
      <td data-a-h="center">S11</td>
      <td data-a-h="center">S12</td>
      <td data-a-h="center">S13</td>
      <td data-a-h="center">S14</td>
      <td data-a-h="center">S15</td>
      <td data-a-h="center">S16</td>
      <td data-a-h="center">S17</td>
      <td data-a-h="center">S18</td>
      <td data-a-h="center">S19</td>
      <td data-a-h="center">S20</td>
      <td data-a-h="center">S21</td>
      <td data-a-h="center">S22</td>
      <td data-a-h="center">S23</td>
      <td data-a-h="center">S24</td>
      <td data-a-h="center">S25</td>
      <td data-a-h="center">S26</td>
      <td data-a-h="center">S27</td>
    </tr>
    </thead>
    <tbody id="sections">
      
    </tbody>
  </table>

</div>
<%-include("./service-location.ejs")%>
<%-include("./tonnage-location.ejs")%>
<%-include("./summary-tonnage-location.ejs")%>
<%-include("./summary-service-location.ejs")%>
<!-- <script src="/js/report.js"></script> -->