<div dir="rtl" id="services"  class="container columns d-none ">
<span id="excel" class="btn btn-info">excel</span>
<table id="table1" class="table table-striped table-bordered text-center table-hover" data-cols-width="10,15,10,10,15,10">
    <thead>
        <td data-a-h="center">#</td>
        <td data-a-h="center">شماره نمونه</td>
        <td data-a-h="center">بلوک</td>
        <td data-a-h="center">نوع بار</td>
        <td data-a-h="center">زمان</td>
        <td data-a-h="center">موقعیت</td>
    </thead>
    <tbody id="service-location"></tbody>
</table>
 </div>