<style>
    span.info{
        float: right;
        margin: 3px;
    }
</style>
<div id="summary-tonnages"  class="d-none m-3">
    <span id="excel4" class="info btn btn-info">اکسل</span>
<table id="table4" class="table table-striped table-bordered text-center table-hover" data-cols-width="25,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7" >
    <thead>
        <td data-a-h="center">Block/Section</td>
        <td data-a-h="center">S1</td>
        <td data-a-h="center">S2</td>
        <td data-a-h="center">S3</td>
        <td data-a-h="center">S4</td>
        <td data-a-h="center">S5</td>
        <td data-a-h="center">S6</td>
        <td data-a-h="center">S7</td>
        <td data-a-h="center">S8</td>
        <td data-a-h="center">S9</td>
        <td data-a-h="center">S10</td>
        <td data-a-h="center">S11</td>
        <td data-a-h="center">S12</td>
        <td data-a-h="center">S13</td>
        <td data-a-h="center">S14</td>
        <td data-a-h="center">S15</td>
        <td data-a-h="center">S16</td>
        <td data-a-h="center">S17</td>
        <td data-a-h="center">S18</td>
        <td data-a-h="center">S19</td>
        <td data-a-h="center">S20</td>
        <td data-a-h="center">S21</td>
        <td data-a-h="center">S22</td>
        <td data-a-h="center">S23</td>
        <td data-a-h="center">S24</td>
        <td data-a-h="center">S25</td>
        <td data-a-h="center">S26</td>
        <td data-a-h="center">S27</td>
    </thead>
    <tbody id="summary-tonnage-sections"></tbody>
</table>
 </div>