<!DOCTYPE html>
<html lang="en">
<head>
  <title>موقعیت نمونه ها</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
<style>
  #message,#message-2{
  font-size: 15px;
  margin: 10px;
  }
  #div-form{
    text-align: right;
    margin:20px 20px 5px 20px;
  }
  #time-counter{
    margin: 5px;
    font-size: 12px;
  }
 input{
  line-height: 2.3rem;
  border-radius: 7px;
  border: 1px solid #ccc9c9;
}
#search{
  background-color: #007bff;
  color: aliceblue;
  cursor: pointer;
  width: 160px;
}
#search:hover{
  opacity: 0.9;
}
#pile{
  width: 100px;
  text-align: center;
}
.legends{
  width: 400px;
  text-align: center;
  padding: 3px;
}
#legend{
  margin-right: 10%;
}
span.or{
  font-weight: bold;
  color: red;
}
</style>
</head>
<body >
  <div id="div-form" >
    <form id="report-form" enctype="multipart/form-data">
      <span dir="rtl" id="colorify" class=" btn btn-outline-info no-color d-none">اعمال/حذف رنگبندی</span>
      <span dir="rtl" id="show-hide-service" class=" btn btn-outline-info d-none">موقعیت سرویس</span>
      <span dir="rtl" id="show-summary-service" class=" btn btn-outline-secondary d-none">خلاصه سرویس</span>
      <span dir="rtl" id="show-summary-tonnage" class=" btn btn-outline-warning d-none">خلاصه تناژ</span>
      <span dir="rtl" id="show-hide-tonnage" class=" btn btn-outline-success d-none">تناژ/سرویس</span>
      <input  type="submit" value="جستجو" name="file" id="search">
      <button dir="rtl" id="loading" class=" btn btn-primary d-none" disabled>لطفا منتظر بمانید  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
      <input type="number"   id="pile" placeholder="شماره پایل" required>
    </form>
</div>
<div class="d-none loader">
  <div class="spinner"></div>
</div>
<hr>
<div class="m-3">
  <div id="progress" class="d-none progress-bar">
    <div class="progress"></div>
  </div>
</div>
<div dir="rtl" id="legend" class="d-none">
  <!-- <div class="legends" >راهنمای رنگبندی :</div> -->
  <div class="legends" style="background-color: #D4EFDF;">[ave &#8723; std]</div>
  <div dir="ltr" class="legends" style="background-color: #82E0AA;">[ave - 2*std , ave - std] <span class="or">OR</span> [ave + std , ave + 2*std]</div>
  <div dir="ltr" class="legends" style="background-color: #196F3D; color: white;">[min , ave - 2*std] <span class="or">OR</span> [ave + 2*std,max]</div>
</div>
      <%-body%> 
</body>
<script>
  document.addEventListener("DOMContentLoaded",()=>{
    document.getElementById("pile").focus()
  });

  function setProgress(progress) {
  var progressBar = document.querySelector('.progress');
  progressBar.style.width = progress + '%';
}
</script>
<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>
<script src="/js/report.js"></script>
<script src="/js/std.js"></script>
<script src="/js/color.js"></script>
<script src="/js/jalali-moment.browser.js"></script>
<script type="text/javascript" src="/js/tableToExcel.js"></script>

</html>
   

